parameters:
    level: 5
    paths:
        - app
        - database
        - routes
        - tests
    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
        - node_modules/*
        - resources/js/*
        - resources/css/*
        - public/*

includes:
    - vendor/larastan/larastan/extension.neon
